*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    margin: 0 auto;

}

.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 2% auto;

    
}

.logo{
    width: 30%;
    display: flex;

}

.logo img{
    width: 15%;
    height: 8vh;
    margin:2%; 
}

.logo h1{
    margin: 5% ;
    font-size: 2.5em;
    font-family: sans-serif;
}

.nav_list{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2em;

}

.nav_list li{
    margin: 10% 2%;
    color: gray;
    font-family: sans-serif;
}

span{
    color: orangered;
}

.explore{
    width: 99%;
    height: 66vh;
    margin: 1% 2%;
    border-radius: 15px;
    background-image: linear-gradient(to bottom,#00000091,#4343437b),url(/Images/Group\ 13\ \(1\)\ \(1\).png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    
}

.head{
    margin: 5% auto 1% auto;       
    font-size: 4em;
    font-family: sans-serif;
    font-weight: 900;
    color: white;
   
}

.details{
    width: 50%;
    color: white;
    font-family: sans-serif;
    font-size: 1em;
    text-align: center;
    margin: 2% auto ;
}

.expf{
    width: 60%;
    height: 10vh;
    border-radius: 10px;
    background-color: rgba(240, 248, 255, 0.537);
    display: flex;
    justify-content: space-evenly;
    box-shadow: 1px 0px 15px -0px gray ;
    
}

.expf>input,button{
    margin: 1.5% 1.5%;
    border-radius: 5px;
    padding: 1%;
    border: none;
    font-size: 1em;
    font-family: sans-serif;
    height: 7vh;
    text-align:left ;
    background-color: aliceblue;
    color: gray;
    box-shadow: 1px 0px 15px -0px gray ;
}

.btn{
    width: 30%;
    
}

button{
    width: 20%;
    text-align: center;
    color: aliceblue;
    background-color: orangered;
    border-radius: 5px;
    border: none;
}

.OPT{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 2% auto;
}

.left{
    width: 55%;
    margin: 1% auto;
}

.left h2{
    font-size: 2em;
    font-family: sans-serif;
    margin: 2% auto;
}

.left p{
    font-size: 1em;
    font-family: sans-serif;
    color: gray;
    width: 80%;
    margin: 2% 3%;
}

.ts{
    font-size: 1em;
    font-family: sans-serif;
    color: gray;
    width: 80%;
    margin: 2% 5%;

}

.ls{
    width: 80%;
    margin: 5% 3%;
}

.ts li{
    width: 80%;
    margin: 4%;
}

.CYD{
    width: 100%;
}

.cydhl{
    font-size: 2.5em;
    font-family: sans-serif;
    font-weight: 800;
    color: black;
    margin: 2% auto;
    text-align: center;
}
.cydh{
    width: 50%;
    font-size: 1em;
    color: gray;
    margin: 1% auto;
    text-align: center;
    
}

.des{
    width: 95%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 2% auto;
    gap: 2%;
    
}

.des>div{
    text-align: center;
    color: aliceblue;
    font-family: sans-serif;
    font-size: 1.5em;
    display: flex;
    height: 43vh;
    justify-content: center;
    align-items: center;
}

.sec1{
    background-image: url(/Images/Rectangle\ 5.png);
    background-size:contain;
    background-repeat: no-repeat;
    grid-column: 1/ 3;
    height: 43vh;
}

.sec2{
    background-image: url(/Images/Rectangle\ 8.png);
    background-size:contain;
    background-repeat: no-repeat;
    grid-column: 3 / 5;
    height: 43vh;
}

.sec3{
    background-image: url(/Images/Rectangle\ 6.png);
    background-size:cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    width: 120%;
    height: 43vh;
    grid-column: 1/2;
    
    
}
.sec4{
    background-image: url(/Images/Rectangle\ 7.png);
    background-size:cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    width: 100%;
    height: 43vh;
    grid-column: 2 / 4;
    margin-left: 8%;
    
    
}

.sec5{
    background-image: url(/Images/Rectangle\ 9.png);
    background-size:cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    width: 90%;
    height: 43vh;
    grid-column: 4 ; 
    margin: 0% 15%;   
    
    
}

.sec6{
    background-image: url(/Images/Rectangle\ 11.png);
    background-size:cover;
    background-repeat: no-repeat;
    border-radius: 15px;
    width: 90%;
    height: 35vh;
    grid-column: 1/ span 2;
    
} 

.sec7{
    background-image: url(/Images/Rectangle\ 7.png);
    background-size:cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    width: 105%;
    height: 35vh;
    grid-column: 3/ span 4;
    margin-left: -10%;
    
    
}

.whu{
    width: 100%;
    margin: 10% auto;
    font-family: sans-serif;
}

.Whuw{
    font-size: 2.5em;
    font-weight: 600;
    margin: 2% auto;
    text-align: center;
    
}

.sub{
    font-size: 1em;
    width: 50%;
    text-align: center;
    margin: 2% auto;
}

.icons{
    margin: 5% 3% 1% 3%;
    width: 8%;
    height: 8vh;
    filter: drop-shadow(-0px 0px 0.5px);
}

.headings{
    font-size: 1.5em;
    margin: 2% 2%;
}

.fdetails{
    font-size: .8em;
    margin: 2% 3%;
    color: gray;
    text-align: justify;
}

.features{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1%;
}

.hph{
    background-color: #f7efb368;
    border: 2px solid #f7efb368 ;
    border-radius: 20px;
    width: 90%;
    height: 40vh;
    grid-column: 1/ 3;
    margin: 2%;
    margin-left: 10%;
}

.wcs{
    background-color: rgba(188, 237, 242, 0.407);
    border: 2px solid rgba(188, 237, 242, 0.407) ;
    border-radius: 20px;
    width: 90%;
    height: 40vh;
    grid-column: 3/ 5;
    margin: 2%;
}

.bpg{
    background-color: rgba(255, 209, 205, 0.407);
    border: 2px solid rgba(255, 209, 205, 0.407) ;
    border-radius: 20px;
    width: 90%;
    height: 40vh;
    grid-column: 2/ 4;
    margin: 2%;
    margin-left: 10%;
}

.offers{
    font-family: sans-serif;
}

.fa-solid{
    color:orangered;
    margin: 1%;
}

ul{
    list-style: none;
    margin: 5%;
    width: 100%;
}
ul li{
    margin: 2%;
    display: inline;
}

.box{
    width: 42%;
    height: 45vh;
    background-color: rgba(250, 250, 251, 0.766);
    border: 2px solid white;
    border-radius: 10px;
    margin-right: 4% ;
    margin-left: 4%;
}

.offer1{
    width: 100%;
    height: 56vh;
    background-image: url(/Images/Group\ 39.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 10px;
    
}

.offerh{
    font-size: 1.5em;
    margin: 2% 8%;
}

.offerp{
    color: gray;
    margin: 2% 8%;
}

.box button{
    width: 30%;
    margin: 5% 8%;
}

.price{
    color: orangered;
    font-size: 1.3em;
    margin: 5% 8% 0% 8%;
}

.offer2{
    width: 100%;
    height: 56vh;
    background-image: url(/Images/Group\ 40.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    margin: 3% 0%;
}

.offer3{
    width: 100%;
    height: 56vh;
    background-image: url(/Images/Group\ 39.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 10px;
    margin: 3% 0%;
}

.SPPGL{
    width: 100%;
    height: 57vh;
    display: flex;
    font-family: sans-serif;
    margin: 5% auto;
    
}

.sprtop{
    width: 90%;
    font-weight: 800;
    font-size: 3.2em;
    text-align: start;
    margin: 2% 7%;
}

.sprdet{
    Margin:2% 5%;
    color:gray;
    font-size: 1em;
    text-align: center;
}

.sprli{
    width: 95%;
    list-style:disc ;
    display: block;
}

.sprli li{
    display: block;
    margin: 2% 4%;
    font-weight: 700;
}

.sprbtn{
    margin: 2% 10%;
    width: 25%;
    font-size: 1.2em;
    font-weight: 700;
}

.SPRright{
    margin: 2% auto;
}



.news{
    width: 100%;
    display: flex;
    height: 55vh;
    margin: 5% 4%;
    font-family: sans-serif;
    
    
}
.newsleft{
    width: 40%;
    height: 48vh;
    border: 1.5px solid orangered;
    border-radius: 10px;
    margin:0.5%;
}

.newsright{
    width: 55%;
    height: 49vh;
    margin: 0.5%;
    position: relative;

}

.newsright img{
    width: 100%;
    height: 48vh;
    
}

.sv{
    background-color: orangered;
    height: 15vh;
    border-radius: 10px;
    width: 42%;
    transform: rotate(-18deg);
    margin: -23% 56%;
    

}

.sv p{
    color: white;
    text-align: center;
    padding: 2%;
}

.trv{
    font-size: 1.5em;
    font-weight: 100;
}

.sav{
    font-size: 2em;
    font-weight: 700;
}

.newsl{
    font-size: 1.5em;
    font-weight: 600;
    text-align: left;
    margin: 5% 5%;
}

.newd{
    width: 55%;
    font-size: 1em;
    color: gray;
    margin: 2% 5%;
}
.newsf{
    background-color: none;
    margin: 2% auto;

}

.newsf input,button{
    display: block;
    margin: 2% 5%;
    width: 90%;
    height: 6vh;
    border-radius: 5px;


}
.newsf input{
    background-color: rgba(237, 243, 247, 0.993);
    border: none;
    padding: 1%;
}

.newsf input::placeholder{
    text-align: left;
    margin: 1% 5%;
    opacity: .5;
}
.newsbtn{
    margin: 5% 5%;
}

.newshr{
    width: 90%;
    margin: 2% 5%;
    height: 4px;
    color: gray;
    opacity: .5;
}

.footer{
    background-color:rgba(234, 232, 232, 0.784);
    font-family: sans-serif;
    margin: 2% auto;
    width: 95%;
}

.footlogo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    
}

.footimg{
    margin: 0% auto;
}

.footlp{
    margin: 0% 1%;
    font-size: 2.2em;
    font-weight: 600;
}

.footermain{
    width: 70%;
    height: 15vh;
    margin: 0 auto;
}

.footerp{
    text-align: center;
    color: gray;

}
.social{
    display: flex;
    height: 20vh;
    justify-content: center;
    align-items: center;
    margin: 0% auto;
}

.s_list{
    margin: 0% 35% 8% 35%; 
}
.s_list li{
    margin: 1% 5%;
}
a{
    color: black;
    font-size: 1.6em;
}

.fhr{
    width: 55%;
    margin: 2% auto;
    color: gray;
    opacity: .5;
}

.footerfoot{
    margin: 0% auto 5% auto;
    text-align: center;
    font-size: 0.9em;
}